.text-field, .password-field {
    -fx-background-color: none;
    -fx-border-color: #a3a0a0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-padding: 0 0 4 0;
    -fx-cursor: text;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #793f3f;
}