.button{
    -fx-background-color: #793f3f;
    -fx-background-radius: 0em;
}

.button:focused{
    -fx-background-color: #572828;
    -fx-background-radius: 0px 1em 1em 0px;
}

#buttonFocus{
    -fx-background-color: #703939;
    -fx-background-radius: 0em 1em 1em 0em;
    -fx-border-color: #CDD1D6;
    -fx-border-width: 0px 0px 0px 3px;
}

.button2{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2em;
    -fx-fill-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

/*.button2:hover{
    -fx-background-color: #a3a8ad;
    -fx-border-width: 1px 1px 1px 1px;
} */

.button2:pressed{
    -fx-background-color: #a3a8ad;
}

.button2:focused{
    -fx-background-color: #a3a8ad;
    -fx-background-radius: 2em;
    -fx-fill-color: #FFFFFF;
    -fx-border-width: 1px 1px 1px 1px;
}

.startButton{
    -fx-background-color: #703939;
    -fx-background-radius: 0.25em;
    -fx-font-family: ROBOTO;
    -fx-font-size: 15px;
}

.startButton:hover{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 0.25em;
}

.startButton:focused {
    -fx-background-color: #703939;
    -fx-background-radius: 0.25em;
    -fx-font-family: ROBOTO;
    -fx-font-size: 15px;
}

.table-view .column-header,
.table-view .column-header-background -filler {
    -fx-cell: 20;
    -fx-background-color: #FFFFFF;
}

.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #000000;
}

.backgroundColor{
    -fx-background-color: linear-gradient(to left,#fafafa, #a3a0a0);
}

.imageMenu {
    -fx-background-color: white;
    -fx-background-radius:0em 1em 1em 0em;
}

